header {
    padding: 20px;
    background: darkslategray;
    color: #fff;
}
.home .product-list {
    display: flex;
}
section.home ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}